/* google fonts nunito */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(44, 43, 43);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #424243;
    border-radius: 10px;
  }
.anchor{
    text-decoration: none;
    color: rgb(144 143 151);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    max-width: 100%;
    height: 100%;
    background-color: rgb(20 19 26);
}
.h{
    min-width: 100%;
    max-height: 4rem;
    overflow: hidden;
    background-color: rgb(20 19 26);
    z-index: 99;
    position: fixed;
    top: 0;
}
.navbar{
    max-width: 100%;
    display: flex;
    justify-content: space-between;    
    margin:20px;
    margin-left: 40px;
}

.left_bar{
    width: 40px;
    display: flex;
    justify-content: space-between;
}
.one{
    border-radius: 100px;
    width: 16px;
    height: 16px;
    background-color: aqua;
}
#contact_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: aqua;
    color:black;
    margin-right: 30px;
    font-weight: 300;
    height: 36px;
    width: 120px;
    border-radius: 8px;   
    border: 1px solid rgb(20 19 26); 
}
.left_nav{
    width: 16rem;
    height: 35rem;
    position: fixed;
    margin-left: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    background-color: #1c1b23;
}
.menu{
    display: none;
}
.main{
    margin-left: 20rem;
}

.fragments_part1{
    width: 100%;
    height: 40%;
    margin-top: 1rem;
    padding: 4px;
}
.part1_cont{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 0.7rem;
}
.part1_cont:hover{

    transform: translateY(-6px);
    transition-duration: 400ms;
}
.part1_image{
    margin: 5px;
}
.fragments_part2{
    height: 50%;
    width: 100%;
    padding: 4px;
}
#part2_head{
    margin-top: 0.5rem;
    color: rgb(144 143 151);
    font-size: larger;
    font-family:"Nunito";
    margin-bottom: 1rem;
}
.profile_container{
    margin-top: 5rem;
    height: 12rem;
    border-radius: 3px;
    overflow: hidden;
    max-width: 100%;
    margin-left: 20rem;
    justify-content: space-between;
    background-color: #1c1b23;
}
.profile_section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
}

.profile_content{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.profile_img{
    display: flex;
    align-items: center;
}
.profile_pic{  
    border: 4px solid white;
    border-radius: 100px;
}
.profile_name{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;
    gap: 6px;
}
.name{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 200;
    font-family: "Nunito";
    color: white;
}
#naam{
    color: white;
    font-weight: 800;
    font-family: "Nunito";
    font-size: x-large;
}
.instagram_btn{
    margin-right: 3rem;
}
.insta_btn{
    height: 2.5rem;
    padding: 8px;
    font-size: small;
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    align-items: center;
    color: rgb(228, 111, 199);
    gap: 1rem;
    background-color: #393740;
}
#btn_insta_logo{
    display: none;
}
#insta_btn:hover{
    cursor: pointer;
}
.projects_container{

    margin-top: 2rem;
    margin: 2rem auto 0rem;
}
#project_name{
    color: white;
    font-family: "Nunito";
    font-size: x-large;
}
.project_items{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin: 2rem;
}

.card{
    height: 16rem;
    width: 100%;
    border-radius: 10px ;
    background-color: white;
    overflow: hidden;
}
.card:hover{
    cursor: pointer;
}
.card_img_container{
    height: 58%;
    overflow: hidden;
}
.card_img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: center;
}
.card_content{
    margin-left: 1rem;
    margin-top: 1.6rem;
}
.project_requ{
    font-size: 0.9rem;
    font-weight: 500;
    color: #393740;
}
#skills_heading{
    font-family: "Nunito";
    color: white;
}
.skills_container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 5rem;
    margin-bottom: 20px;
}
.skills_items{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    max-width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}

.skills_tagname{
    width: 100%;
    height: 20%;
    color: #8c8b92;
}
.skills_card{
    background-color: #1c1b23;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    height: 17rem;
    overflow: hidden;
}

.items{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
#br-yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 7px;
    border: 1px solid #8b6c10;
    color: #5a5960;
    background-color: #212022;
}
#br-yellow:hover{
    background-color: #786731;
}
#br-none{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 7px;
    color: #5a5960;
    background-color: #212022;
}
#br-none:hover{
    background-color: rgb(109, 108, 108);
}
#br-green{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 7px;
    border: 1px solid rgb(47, 126, 47);
    color: #5a5960;
    background-color: #212022;
}
#br-green:hover{
    background-color: rgb(52, 95, 52);
}
#br-red{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 7px;
    border: 1px solid red;
    color: #5a5960;
    background-color: #212022;
}
#br-red:hover{
    background-color: rgb(139, 40, 40);
}
#br-purple{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 7px;
    border: 1px solid purple;
    color: #5a5960;
    background-color: #212022;
}
#br-purple:hover{
    background-color: rgb(100, 35, 100);
}
#br-blue{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 7px;
    border: 1px solid rgb(63, 63, 157);
    color: #5a5960;
    background-color: #212022;
}
#br-blue:hover{
    background-color: rgb(51, 51, 109);
}
.more-projects_container{
    display: flex;
    flex-direction: column;
    height: 25rem;
    overflow: hidden;
    background-color: #1c1b23;
    margin-right: 1rem;
    min-width: 18rem;
}
#more_pro_head{
    margin: 20px;
    color: white;
    font-size: x-large;
    font-family: "Nunito";
    font-weight: 700;
}
.list_more_pro{
    display: flex;
    flex-direction: column;
 
    row-gap: 1.4rem;
    padding: 1rem;
}
.list_item{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
}
.list_item:hover{
    cursor: pointer;
}
.list_item_details{
    display: flex;
    flex-direction: column;
    text-align: justify;
    color: rgb(144 143 151);
    justify-content: center;
}
.list_name{
    font-size: 1.1rem;
    margin: 3px;
}
.list_desc{
    font-size: smaller;
    width: 70%;
}
.list_item_details{
    margin-left: 1rem;
}
.other_profiles{
    max-width: 100%;
}
#other{
    color: white;
    font-family: "Nunito";
    margin-bottom: 20px;
}
.other_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 100%;
    gap: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.card_other{
    background-color: #1c1b23;
    border-radius: 8px;
    height: 15rem;
    width: 100%;
}
.card_other:hover{
    cursor: pointer;
}

.other_card_img{
    height: 60%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.platform{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: larger;
    color: white;
}
.resume_container{
    background-color: #1c1b23;
    width: 16rem;
    height: 16rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resume_btn{
    padding: 0.7rem;
    color: white;
    background-color: #393740;
    border-radius: 8px;
    border: 1px solid black;
}
.resume_btn:hover{
    cursor: pointer;
}
.download_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_header{
    display: none;
    max-width: 100%;
    margin-top: 4rem;
    max-height: 0%;
}

.menu_header.show_menu{ 
    max-height: 10%;
    display: none;
}

.menu_fragments_part1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    padding: 4px;
}
.menu_fragments_part2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;   
    padding: 4px;
}

#menu_part1_head{
    color: rgb(66, 42, 223);
    font-size: larger;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family:"Nunito";
    margin-bottom: 1rem;
    margin-left: 2rem;
}
#menu_part2_head{
    color: rgb(66, 42, 223);
    font-size: larger;
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
    align-items: center;
    font-family:"Nunito";
margin-bottom: 1rem;
}


@media screen and (max-width: 1400px) {
    .left_nav{
        display: none;
    }
    .menu{
        display: flex;
    }
    .menu_header{
        display: block;
    }
    .right_bar{
        display: none;
    }
    .profile_container{
        margin-left: 0;
        margin-right: 0;
    }
    .main{
        margin-left: 2rem;
        margin-right: 0;
    }
    
}
@media screen and (max-width: 1000px){
    .more-projects_container{
        display: none;
    }
    .skills_items{
        margin: 2rem;
    }
    .project_items{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 865px) {
    .skills_items{
        grid-template-columns: repeat(3,1fr);
    }
    .other_container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 660px) {
    .project_items{
        grid-template-columns: repeat(1,1fr);
    }
    .skills_items{
        grid-template-columns: repeat(2,1fr);
    }
    .other_container{
        grid-template-columns: repeat(2,1fr);
    }
    .instagram_btn{
        display: none;
    }
    #btn_insta_logo{
        display: block;
    }
}
@media screen and (max-width: 500px) {
    .skills_items{
        grid-template-columns: repeat(1,1fr);
    }
    .other_container{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width:270px){
    .profile_img{
        display: none;
    }
    #btn_insta_logo{
        display: none;
    }
    .other_profiles{
        display: none;
    }
    .menu{
        display: none;
    }
}